.footer {
    padding: 5px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 60px;
}

.footer-page {
    display: flex;
    gap: 600px;
    margin-bottom: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right {
    display: flex;
    gap: 20px;
}

.last {
    display: flex;
    gap: 640px;
    margin-top: 10px;
}

.lastRight {
    display: flex;
    gap: 24px;
}

.para {
    width: 270px;
    line-height: 25px;
    text-align: left;
}

.para span {
    color: rgb(146, 91, 236);
}

.title {
    background: linear-gradient(267deg, rgb(255, 0, 0), rgb(56, 6, 112));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right input {
    margin-top: 80px;
    width: 200px;
    height: 35px;
    background-color: rgba(243, 240, 240, 0.089);
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
}

.right button {
    width: 140px;
    height: 35px;
    margin-top: 80px;
    border-radius: 20px;
    background: linear-gradient(267deg, red, blue);
}

hr {
    border: 1px solid gray;
}